


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: black;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('https://raw.githubusercontent.com/HuXn-WebDev/HTML-CSS-JavaScript-100-Projects/main/53.%20CSS%20Clip%20Path%20Animation/jonatan-pie-3l3RwQdHRHg-unsplash.jpg');
  background-size: cover;
  clip-path: circle(200px at var(--1) var(--2));

}


